 body {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     background-color: hsl(240, 85%, 10%);
 }

 .todocontainer {
     background-color: gray;
     max-width: 60vw;
     height: 90vh;
     margin: auto;
     width: 90vw;
     border-radius: 20px;
     text-align: center;
     max-width: 800px;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: scroll;
     position: relative;
 }

 .addtextt {
     width: 80%;
     text-align: center;
     border-radius: 12px;
     height: 40px;
     border: none;
     color: hsl(182, 39%, 72%);
     font-size: 18px;
     background-color: hsl(248, 13%, 23%);
 }

 .addthelist {
     margin: 20px;
 }


 .adduserlist {
     padding: 10px 30px;
     font-size: 18px;
     border-radius: 6px;
     border: none;
     cursor: pointer;
     background-color: hsl(67, 67%, 46%);

 }

 .adduserlist:hover {
     background-color: hsl(67, 67%, 56%);
 }

 .coloring_list {
     background-color: rgb(22, 167, 192);
     margin: 20px;
     border: 10px;
     border-radius: 14px;
     font-size: 18px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 85%;
     padding: 20px;
     flex-wrap: wrap;

 }

 .deletebutton,
 .edit {
     background-color: hsl(169, 71%, 38%);
     border: none;
     border-radius: 14px;
     font-size: 15px;
     cursor: pointer;
     padding: 16px;
     width: 50%;
     color: white;
     display: flex;
     justify-content: center;
     margin: 10px;
     outline: none;
     background-color: transparent;


 }

 .deletebutton:hover {
     background-color: hsl(169, 71%, 58%);

 }

 #two_buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-between;
     width: 40%;
 }


 .edit:hover {
     background-color: hsl(0, 73%, 40%);
 }

 .showtheinput {
     width: 100%;
 }

 @media(max-width:425px) {

     .todocontainer {
         width: 95%;
         height: auto;
         padding: 15px;
     }

     .addtextt {
         width: 100%;
         font-size: 0.9rem;
         height: 35px;
     }

     .coloring_list {
         width: 95%;
         font-size: 0.9rem;
         padding: 10px;
     }

     #two_buttons {
         max-width: none;
         flex-direction: column;
         width: 100%;


     }


 }